@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family:"poppins",sans-serif ;
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

.topBarSection{
    border :1px solid white;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:0px 100px; 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


/* item section */

.itemSection{
    display:flex;
    width: 100%;
    margin-top:40px;
}

.gallery{
    width:190px;
}

.gallery img{
    width:100%;
}

/* landingpage */

.landingSection{
    padding :0px 130px;
}

/* Chainsection */

.chainSection{
    margin-top:50px;
    display: flex;
    overflow-x:hidden;
    position: relative;
    height: auto;
}

.vendorBox{
    border-radius: 20px;
}

.vendorBox img{
    width:300px;
    height: 150px;
    flex:auto; 
    margin-right:30px; 
    object-fit: cover;
    border-radius: 20px;
}

.chainheading{
    display:flex;
    justify-content: space-between;
}

.chainheading .btnsection{
    margin-top:20px;
}


/* firmCollection */


.firmSection{

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid:20px;
    margin:0 auto;
}

.firmGroup{

}

.firmGroup img{
    height: 180px;
    width: 240px;
    object-fit: cover;
    border-radius: 30px;
    flex:auto;
    margin-right:20px;
}

.itemfirmName{
    font-weight:bold;
}

.firmDeatails{
  
    text-indent:5px;
}

.firmOffer{
    border: 1px solid red;
    width:100%;
    max-width: 85%;
    position:absolute;
    bottom:20px;
    padding-left:10px;
    background-color: white;
}